bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
distribution/*
lib/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

.DS_Store
*.DS_Store
/bin
